{{define "footer"}}
    <p class="footer">
      by <a href="https://ket.so">Jason Phan</a> | <a href="https://github.com/ibokuri/zigbyexample">source</a> | <a href="https://github.com/ibokuri/zigbyexample#license">license</a>
    </p>
{{end}}
